<!doctype html>

<html lang="en">

	<head>

		<meta charset="utf-8">

		<title>STEP</title>

		<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

		<link rel="stylesheet" href="css/styles.css">

		<!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	</head>

	<body>

		<%= render partial:"header" %>

		<section>
			<center>
				<h1>STEPS</h1>
				<% steps=@steps %>

				<%= "Today: "+ steps %>

				<br><br><br><br>

				<h2>History</h2>
				<br>
				<img src="http://quantifiedself.com/wp-content/uploads/2013/01/Bastian_FuelBand_vs_Fitbit2.png"/>
			
			</center>
		</section>

	</body>

</html>