<center>
<h1>Login</h1>
<br>
<form action="http://www.html.am/html-codes/textboxes/submitted.cfm">
<body>Username:</body> <textarea name="username" cols="20" rows="1"> </textarea>
<br>
<body>Password:</body> <textarea name="password" cols="20" rows="1"> </textarea>
<br/>
<body>Reset Password Link</body>
<br>
<input type = "submit" />
<br>
<%= link_to 'Register', user_registration_index_path %>
</form>
</center>
