<center>
<h1>Login</h1>
<br>
<form action="http://www.html.am/html-codes/textboxes/submitted.cfm">
<body>Username:</body> <textarea name="username" cols="20" rows="1"> </textarea>
<br>
<body>Password:</body> <textarea name="password" cols="20" rows="1"> </textarea>
<br/>
<input type = "submit" />
</form>
</center>
