// Place all the styles related to the Steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
}





header {
	background: #db5b43;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

div#menuicon{
	float:left;
	margin-top:15px;
	width: 50px;
	
}

ul.topnav li{
	display:none;
	list-style-type:none;
	float:left;
}

div#userName{
  margin-top:15px;
  text-align:center;
  line-height: 37px;
  color: #FFF;
}

div#logo{
	margin: 20px;
	height: 40px;
	font-size: 40px;
}

div#menuicon:hover ul li {
	display:block;
	margin:0;
	padding: 15px 0 30px 0;
	width:200px;

	background-color: #efefef;
	
}

div#signout{
	margin:15px 10px 0 0;
	display:block;
	float:right;
	width: 35px;

	position: relative;
    top: -60px;
}













a {

	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;

}

a:hover {

	color: #444;

}

img {

	width: 100%;

}

img.icon{
  height:40px;
  width: 40px;
}

#shareButton{
  width: 20%;
  float: right;
  text-align: center;
  margin-top: 15px;
}

/*
nav {

	float: left;
	padding: 20px;	

}
*/


.current {

	color: #2262AD;

}

section {

	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px

}
#footprint{
  width: 170px;
}

h1 {

	font-size: 2em;
	color: #db5b43;
	line-height: 1.15em;
	margin: 20px 0 ;

}

p {

	line-height: 1.45em;
	margin-bottom: 20px;

}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}




/*

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
*/

}
