<%= render file:"/app/views/layouts/header.html" %>
<!-- render goals -->
<section>
  <center>
    <h1>GOALS</h1>

    <%= form_for @goal, method: "post" do  |f| %>
      <table>
        <tr>
          <th>Select your goal:&nbsp;&nbsp;</th>
          <td>
             <select name="goal[goalName]" id="goal_goalName" >
               <option value="0" >Steps</option>
               <option value="1" >Calories</option>
               <option value="2" >Distance</option>
             </select>
           </td>
          </tr>

          <tr>
            <th>Select your time frame:&nbsp;&nbsp;</th>
            <td>
               <select name="goal[timeFrame]" id="goal[timeFrame]" >
                 <option value="0" >Daily</option>
                 <option value="1" >Weekly</option>
                 <option value="2" >Monthly</option>
               </select>
            </td>
          </tr>

          <tr>
            <th class="required">Select the amount:&nbsp;&nbsp;</th>
            <td>
              <%= f.number_field :goalAmount, :value => 0 %> 
            </td>
          </tr>

          <tr>
             <th></th>
             <td>
               <input type="submit" name="submit" value="Submit Form">
             </td>
          </tr>

        </table>
    <% end %>
  </center>
</section>