
<!-- <div id="banner" class="regwidth">CATBIT</div> -->

<div class="regwidth" id="centered">
	<h1>Catbit welcomes you</h1>

	<div class="button">
		<div id="logo">
			<%= image_tag "fitbit-logo.png" , size: "60"%>
		</div>
		<%= link_to "Log in", new_user_session_path %><br />
		<%= link_to "Login with Fitbit", user_omniauth_authorize_path(:fitbit) %>
	</div>
</div>

